---
import Buttom from '@/componets/Buttom.astro'
import Card from '@/componets/Card.astro'
import Layout from '@/layouts/Layout.astro'
import Section from '@/componets/Section.astro'
import { fruitsItems } from '@/const/fruits.items'

---

<Layout title='fruits' color='green'>
  <div class="pt-[112px]">
    <Section title="Frustas" justify='center' >
      <div class="w-full grid grid-cols-cards justify-center gap-10 my-12 mb-16">
        {
          fruitsItems.slice(6).map((item) => (
            <Card img={item.img} title={item.title} description={item.description} link={item.link} bottomText='Ver receta' />
          ))
        }
      </div>
  
      <Buttom text="Ver más" />
    </Section>
  </div>
</Layout>