---
import Layout from '@/layouts/Layout.astro'

import Carousel from '@/componets/home/Carousel.astro'
import Discover from '@/componets/home/Discover.astro'
import Practices from '@/componets/home/Practices.astro'
import KnowMore from '@/componets/home/KnowMore.astro'
import Hero from '@/componets/home/Hero.astro'
---

<Layout title='home'>
  <Hero />

  <div class="bg-dark-white rounded-br-[200px]">
    <KnowMore />
  </div>

  <div class="max-w-[81.25rem] m-auto px-4 xl:px-0">
    <Practices />
    <Carousel />
    <Discover />
  </div>
</Layout>