---
import Row from "@/icons/Row.astro";
import Card from "@/componets/Card.astro";
import Title from "@/componets/Title.astro";

import { foodItems } from "@/const/slider.items";
---

<div  class="pt-16 px-4 lg:px-0">
  <div class="swiper">
    <div class='flex justify-between flex-wrap items-center w-full'>
      <Title type='h3' font='bold' text='Recetas' className='[font-size:_clamp(2em,10vw,2.813em)]' />
      <nav slot="nav" class="text-green">
        <button class="prev">
          <Row />
        </button>
        <button class="rotate-180 next">
          <Row />
        </button>
      </nav>
    </div>

    <div class="swiper-wrapper pt-20 pb-12">
      {
        foodItems.slice(0, 4).map((item) => (
            <div class="swiper-slide w-96 flex justify-center">
              <Card img={item.img} title={item.title} description={item.description} link={item.link} bottomText='Ver receta' className="max-w-[25.063rem] relative z-30" />
            </div>
          ))
        }
    </div>
  </div>
</div>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
<script is:inline src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
<script is:inline>
  new Swiper('.swiper', {
    spaceBetween: 42,
    breakpoints: {
      1280: {
        slidesPerView: 3.2,
      },
      1024: {
        slidesPerView: 2.5,
      },
      768: {
        slidesPerView: 2.2,
      },
      640: {
        slidesPerView: 2,
      },
      320: {
        slidesPerView: 1,
      },
    },
    slidesPerGroupAuto: true,
    loop: true,
    navigation: {
      nextEl: ".next",
      prevEl: ".prev",
    }
  })
</script>