---
import Title from "@/componets/Title.astro";
---

<div class="min-h-[calc(100dvh+112px)] bg-[url(/hero.png)] bg-no-repeat bg-cover text-white flex items-center px-4 md:pl-[10%]">
  <div class="lg:w-1/2 max-w-[690px] w-full">
    <Title type='h2' font='bold' text='Frutas y verduras' className='[font-size:_clamp(2.625em,10vw,6em)] mb-14 leading-[98%]' />
    <p class="text-2xl">
      ¡Bienvenidos a nuestra página web dedicada a los tesoros naturales de la tierra! Descubre la magia de las frutas y verduras frescas en un viaje lleno de sabores y beneficios para tu salud. Explora información sobre prácticas de cultivo responsable y calidad de la UE, despierta tu creatividad con nuestras inspiradoras recetas.
    </p>
  </div>
</div>