---
import Buttom from "@/componets/Buttom.astro";
import Title from "@/componets/Title.astro";
---

<section class="bg-[url(/big-banana.png)] bg-no-repeat bg-cover bg-center flex justify-end py-14 px-20 rounded-[35px] overflow-hidden text-white text-center lg:text-end my-16 relative before:absolute before:top-0 before:bottom-0 before:left-0 before:right-0 before:bg-sepia">
  <div class="flex flex-col gap-8 w-full lg:w-1/2 relative items-center lg:items-end">
    <Title type='h3' font='bold' text='Buenas practicas' className='[font-size:_clamp(1.5em,10vw,2rem)]' />
    <p class="[font-size:_clamp(.8em,10vw,1.25em]">
      Estas políticas se centran en proteger la salud de los consumidores, el bienestar de los animales, la sostenibilidad ambiental y la seguridad alimentaria.
    </p>
    <Buttom text='Ver más' />
  </div>
</section>