---
import Title from "../Title.astro";

---

<div class="flex flex-col">
  <Title type='h4' font='semibold' text='Logo' className='text-3xl' />
  <p>
    Descubre la magia de las frutas y verduras frescas en un viaje lleno de sabores y beneficios para tu salud
  </p>
</div>