---
import Title from "../Title.astro";
import IconText from '@/componets/IconText.astro'
import Phone from '@/icons/Phone.astro'
import Email from '@/icons/Email.astro'
import Ubi from '@/icons/Ubi.astro'
import Icons from '@/icons/Icon.astro'

---

<div class="flex flex-col items-start lg:items-center">
  <div class="max-w-max">
    <Title type='h4' font='semibold' text='Contactanos' className='[font-size:_clamp(1.2em,10vw,1.875em)] pb-8' />
    <ul>
      <li class="flex items-center gap-4">
        <IconText text='(209) 555-0104'>
          <Icons slot="after">
            <Phone />
          </Icons>
        </IconText>
      </li>
      <li class="flex items-center gap-4 py-8">
        <IconText text='michelle.rivera@example.com'>
          <Icons slot="after">
            <Email />
          </Icons>
        </IconText>
      </li>
      <li class="flex items-center gap-4">
        <IconText text='2715 AVE, Bogotá Colombia'>
          <Icons slot="after">
            <Ubi />
          </Icons>
        </IconText>
      </li>
    </ul>
  </div>
</div>