---
import { discoverItem } from '../../const/discover.items'
import Title from '../Title.astro';
---
 
<div class="flex flex-col items-start lg:items-center lg:border-x-2 border-light-gray-2">
  <div class="max-w-max">
    <Title type='h4' font='semibold' text='Contactanos' className='[font-size:_clamp(1.2em,10vw,1.875em)] pb-8' />
    <ul>
      {
        discoverItem.map((item) => (
          <li class="py-1">
            <a href={item.link} class="text-light-gray">{item.name}</a>
          </li>
        ))
      }
  </div>
</div>