---
import Contact from './Contact.astro'
import Discover from './Discover.astro'
import About from './About.astro'
---

<footer>
  <div class="max-w-[112.5rem] m-auto px-4">
    <nav class="grid grid-cols-[2fr_1fr_1fr] py-20">
      <About />
      <Discover />
      <Contact />
    </nav>
    <span class="text-center block pt-11 pb-10 border-t-2 border-light-gray-2">
      © Copyright 2023 Goula.All rights reserved.
    </span>
  </div>
</foote>