---
import Contact from './Contact.astro'
import Discover from './Discover.astro'
import About from './About.astro'
---

<footer>
  <div class="max-w-[112.5rem] m-auto px-4">
    <nav class="col-span-3 grid-cols-1 gap-11 lg:gap-0 grid lg:grid-cols-[1.5fr_1fr_1fr] pt-20 pb-24 px-4">
      <About />
      <Discover />
      <Contact />
    </nav>
    <span class="text-center block pt-11 pb-10 border-t-2 border-light-gray-2 text-light-gray">
      © Copyright 2023 Goula.All rights reserved.
    </span>
  </div>
</foote>