---
import Contact from './Contact.astro'
import Discover from './Discover.astro'
import About from './About.astro'
---

<footer class="min-w-full max-h-max flex justify-center items-center py-24 border-green border-solid border-2">
  <nav class="m-auto flex border-solid border-x-dark-gray border-2">
    <About />
    <Discover />
    <Contact />
  </nav>
</footer>