---
import Footer from '@/componets/footer/Footer.astro'
import Header from '@/componets/header/Header.astro'

interface Props {
  title: string
	color?: string
}

const { title, color } = Astro.props
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>fruits {title}</title>
	</head>
	<body>
    <Header color={color} />
			<main>
      	<slot />
			</main>
    <Footer />
	</body>
</html>


<style is:global>
@font-face {
	font-family: 'poppins';
	src: 
		url('./fonts/Poppins-SemiBold.ttf'), format('ttf');
		font-weight: 600;
		font-style: normal;
}

@font-face {
	font-family: 'poppins';
	src: url(/fonts/Poppins-Bold.ttf), format('ttf');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'inter';
	src: url(/fonts/Inter-Regular.woff2), format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'inter';
	src: url(/fonts/Inter-Medium.woff2), format('woff2');
	font-weight: 400;
	font-style: normal;
}

body {
	font-family: 'inter', sans-serif;
	font-weight: normal;
	font-style: normal;
}

.max-container {
	max-width: 81.25rem;
	margin: 0 auto;
}
</style>